<h4 class="text-center">Registre-se e mostra o teu pet</h4>
<form
  class="form mt-4"
  [formGroup]="novoUsuarioForm"
  (submit)="cadastrarUsuario()"
>
  <div class="form-group mb-2">
    <input placeholder="e-mail" class="form-control" formControlName="email" />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email obrigatório"
    ></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      placeholder="Nome do usuário"
      class="form-control"
      formControlName="usuario"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('usuario')?.errors?.['required'] &&
        novoUsuarioForm.get('usuario')?.touched
      "
      mensagem="Usuário obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('usuario')?.errors?.['minusculo'] &&
        novoUsuarioForm.get('usuario')?.touched
      "
      mensagem="Usuário sem letra maiúscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('usuario')?.errors?.['usuarioExiste'] &&
        novoUsuarioForm.get('usuario')?.touched
      "
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
  </div>
  <div class="form-group mb-2">
    <input
      type="password"
      placeholder="Confirmar senha"
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>
  <button class="btn btn-primary btn-block">Cadastro</button>
</form>
<p>Já é um usuário? <a [routerLink]="['']">Faça login</a></p>
